@model Educational_Platform.Models.StudentCourse

@{
	ViewData["Title"] = "Create";
}



<link rel="stylesheet" href="~/css/course.css" />

<div class="content">
	<div class="container">
		<div class="table-responsive custom-table-responsive">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<form asp-action="Create">
				<table class="table custom-table">
			
					<tbody>
				<tr scope="row">

							<td>
								<label asp-for="StudentID" class="control-label"></label>
							</td>
							<td>
								<select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
								<span asp-validation-for="StudentID" class="text-danger"></span>
							</td>

						</tr>
						@foreach (var course in ViewBag.Courses)
						{
							<tr scope="row">
								<td><li> <input type="checkbox" name="courseIds" value="@course.CourseID"></li></td>
								<td><label class="control-label">@course.CourseName </label></td>
								
							</tr>
						}

						<tr class="spacer">
							<td colspan="100"></td>
						</tr>
					</tbody>
				</table>

				<br />
				<div class="form-group text-center">
					<input type="submit" value="Create" class="btn btn-warning" />
					<a asp-action="Index" class="btn btn-secondary">Back to List</a>

				</div>
			</form>
		</div>
	</div>
</div>



